@import "../../../index";

$marginBottomLastRow: 10px;

table {
  width: 500px;
  font-size: $size * 1.7;
  color: $colorBg2;

  tbody {
    background-color: white;

    tr {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 10px;
      border-bottom: 2px solid #a9a9a9;
      padding: 10px 0;

      td {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapImg {
          margin-bottom: $marginBottomLastRow;

          img {
            width: 100%;
          }
        }

        .titleProduct {
          padding-left: 10px;
          font-size: $size * 1.5;
          font-weight: bold;
          margin-bottom: $marginBottomLastRow;
        }

        .wrapDelete {
          margin-bottom: $marginBottomLastRow;
          width: 100%;
          text-align: right;

          svg {
            cursor: pointer;
          }
        }

        .wrapButtons {
          width: 100%;
          text-align: center;

          .btnSetCount {
            width: $size * 3;
            height: $size * 3;
            border-radius: 5px;
            border: none;
            background-color: $colorActive4;
            user-select: none;
            font-size: $size * 1.8;

            &:hover {
              background-color: darken($colorActive4, 10%);
              cursor: pointer;
            }
          }

          .quantity {
            display: inline-block;
            min-width: $size * 4;
            text-align: center;
            font-weight: 500;
          }
        }

        .itemTotalPrice {
          font-weight: 500;
        }
      }
    }
  }
}