@import "src/index";

.cardProduct {
  margin: $size * 1.5 0 $size * 2.5 0;
  max-width: $size * 30;
  background-color: lightgray;
  transition: 0.2s;
  border-radius: $size;
  box-shadow: 0 0 $size $size * 0.1 gray;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

    img {
      width: 93%;
      border-radius: $size;
      margin: 10px;

    }

    .wrapCategory{
      margin: 10px;

      .category {
        margin: $size * 0.5 0 $size * 0.5 0;
        font-size: $size * 1.5;
      }

      .title {
        margin: $size * 0.2 0 $size * 0.2 0;
        font-weight: 500;
        font-size: $size * 2;
        color: $colorActive;
      }

      .description {
        margin: $size 0 $size * 0.2 0;
        font-size: $size * 1.4;
        font-weight: 400;
      }

      .wrapPrice {
        margin: $size 0 $size * 0.2 0;
        font-size: $size * 1.4;
        font-weight: 500;

        & .price {
          color: $colorAtt;
        }
      }

      .wrapBtn{
        text-align: right;
        margin-top: $size;

        button{
          width: $size * 10;
          padding: $size 0;
          background-color: $colorActive4;
          border: 2px solid $colorActive4;
          border-radius: $size * 0.5;
          color: $colorDefault;
          font-weight: bold;
          position: relative;

          .countProduct{
            display: inline-block;
            width: 20px;
            text-align: center;
            color: white;
            background-color: $colorActive4;
            border-radius: 50%;
            padding: 5px;
            position: absolute;
            top: -15px;
            right: -7px;
            font-size: 16px;
          }
        }

        .btnDefault{
          background-color: $colorActive4;
          color: $colorDefault;

          &:hover {
            background-color: $colorActive;
            border: 2px solid $colorActive;
            box-shadow: 0 0 7px 0 gray;
            cursor: pointer;
          }
        }

        .btnActive{
          background-color: $colorDefault;
          color: $colorDefault2;

          &:hover {
            background-color: $colorActive1;
            cursor: pointer;
            color: $colorDefault2;
          }
        }
      }
    }

}