@import "src/index";

.cardProduct {
  margin: $size * 1.5 0 $size * 2.5 0;
  max-width: $size * 30;
  background-color: lightgray;
  border-radius: $size;
  opacity: 0.8;
  transition: 0.4s ease-in-out;

  &:hover {
    opacity: 1;
    box-shadow: 0 0 $size $size * 0.1 gray;
  }


  img {
    width: 93%;
    aspect-ratio: 10 / 12;
    border-radius: $size;
    margin: 10px;
    transition: 0.5s ease-in-out;
  }

  .wrapCategory {
    margin: 10px;

    .category {
      margin: $size * 0.5 0 $size * 0.5 0;
      font-size: $size * 1.5;
    }

    .title {
      margin: $size * 0.2 0 $size * 0.2 0;
      font-weight: 500;
      font-size: $size * 2;
      color: $colorActive;
      height: 60px;
      overflow: hidden;
    }

    .description {
      margin: $size 0 $size * 0.2 0;
      font-size: $size * 1.4;
      font-weight: 400;
      height: 100px;
      overflow: hidden;
    }

    .wrapPrice {
      margin: $size 0 $size * 0.2 0;
      font-size: $size * 1.4;
      font-weight: 500;

      & .price {
        color: $colorAtt;
      }
    }

    .wrapBtn {
      text-align: right;
      margin-top: $size;

      button {
        width: $size * 10;
        padding: $size 0;
        background-color: $colorActive4;
        border: 2px solid $colorActive4;
        border-radius: $size * 0.5;
        color: $colorDefault;
        font-weight: bold;
        position: relative;

        .countProduct {
          display: inline-block;
          width: 20px;
          text-align: center;
          color: white;
          background-color: $colorActive4;
          border-radius: 50%;
          padding: 5px;
          position: absolute;
          top: -15px;
          right: -7px;
          font-size: 16px;
        }
      }

      .btnDefault {
        background-color: $colorActive4;
        color: $colorDefault;

        &:hover {
          background-color: $colorActive;
          border: 2px solid $colorActive;
          box-shadow: 0 0 7px 0 gray;
          cursor: pointer;
        }
      }

      .btnActive {
        background-color: $colorDefault;
        color: $colorDefault2;

        &:hover {
          background-color: $colorActive1;
          cursor: pointer;
          color: $colorDefault2;
        }
      }
    }
  }

}

@media (max-width: 900px) {
  .cardProduct {
    max-width: $size * 25;
  }

}

@media (max-width: 800px) {
  .cardProduct {
    margin: $size * 1.5 0 $size * 2 0;
    max-width: $size * 23;
  }
}

@media (max-width: 760px) {
  .cardProduct {
    margin: $size * 1.5 0 $size * 1.5 0;
    max-width: $size * 22;

    img {
      width: 90%;
    }
  }
}

@media (max-width: 740px) {
  .cardProduct {
    margin: $size * 1.5 0 $size 0;
    max-width: $size * 20;

    img {
      width: 89%;
    }
  }
}


@media (max-width: 700px) {
  .cardProduct {
    margin: $size * 1.5 0 0 0;
    max-width: $size * 18;
  }
}

@media (max-width: 660px) {
  .cardProduct {
    max-width: $size * 17;
  }
}

@media (max-width: 660px) {
  .cardProduct {
    max-width: $size * 16;
  }
}

@media (max-width: 620px) {
  .cardProduct {
    max-width: $size * 15;
  }
}

@media (max-width: 600px) {
  .cardProduct {
    max-width: $size * 22;
  }
}

@media (max-width: 540px) {
  .cardProduct {
    max-width: $size * 20;
  }
}

@media (max-width: 425px) {
  .cardProduct {
    margin: $size 0 0 0;
    max-width: $size * 18;

    img {
      margin: 7px 5px;
    }
  }
}

@media (max-width: 385px) {
  .cardProduct {
    max-width: $size * 17;
  }
}

@media (max-width: 365px) {
  .cardProduct {
    max-width: $size * 16;

    .wrapCategory {
      margin: 5px;
    }
  }
}

@media (max-width: 345px) {
  .cardProduct {
    max-width: $size * 15;
  }
}

@media (max-width: 326px) {
  .cardProduct {
    max-width: $size * 14;

    .wrapCategory {
      margin: 1px;

      .category {
        font-size: $size * 1.3;
      }

      .title {
        margin: 0;
        font-size: $size * 1.5;
      }

      .description {
        margin: $size * 0.5 0 0;
        font-size: $size;
        height: 70px;
      }

      .wrapPrice {
        font-size: $size * 1.2;
        font-weight: 700;
      }

      .wrapBtn {
        margin-right: $size * 0.5;
        margin-bottom: $size * 0.5;

        button {
          width: $size * 9;
          padding: $size * 0.8 0;
        }
      }
    }
  }
}

@media (max-width: 305px) {
  .cardProduct {
    max-width: $size * 13;
  }
}