@import "src/index";

.cartShopping {
  padding: $size;
  flex-direction: column;
  background-color: white;
  color: $colorBg2;
  font-size: $size * 1.8;

  .wrapItemsTable {
    max-height: calc(84vh - $size * 2 - (20px + 88px));
    overflow: auto;
  }

  .wrapTotalPrice {
    width: 100%;
    border-top: 3px ridge $colorActive4;

    .totalPrice {
      margin: $size * 2 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comeback {
        font-size: $size * 1.4;
        font-weight: bold;
        color: $colorActive;
        cursor: pointer;
      }

      .price {
        font-size: $size * 2;
        font-weight: bold;
      }
    }

    .btnShopping {
      width: 100%;
      padding: $size 0;
      background-color: $colorActive4;
      color: $colorDefault;
      font-size: $size * 1.7;
      font-weight: bold;
      text-align: center;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: $colorActive;
        box-shadow: 0 0 7px 0 gray;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .cartShopping {

    .wrapItemsTable {
      max-height: calc(80vh - $size * 2 - (20px + 88px));
    }

    .wrapTotalPrice {

      .totalPrice {

        .price {
          font-size: $size * 1.8;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .cartShopping {

    .wrapItemsTable {
      max-height: calc(80vh - $size * 2 - (20px + 110px));
    }

    .wrapTotalPrice {

      .totalPrice {

        .price {
          font-size: $size * 1.8;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .cartShopping {
    padding: 0;

    .wrapTotalPrice {

      .totalPrice {

        .price {
          font-size: $size * 1.5;
        }
      }
    }
  }
}
