@import "src/index";

.cart {
  //font-size: $size * 2;
  //color: $colorDefault;
  display: flex;

  span {
    margin-right: $size;
  }
}
.cartShopping {
  position: absolute;
  top: 100px;
  right: 11px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: lighten($colorBg3, 5%);
  box-shadow: 0 0 10px 1px gray;

  li{
    width: 500px;
    padding-top: 16px;
  }

  &:hover li{

  }
}