@import "src/index";

$widthNav: $size * 20;
$heightHeader: $size * 10;
$heightFooter: $size * 10;

* {
  margin: 0;
  padding: 0;
}

.header {
  height: $heightHeader;
  background-color: $colorBg;
  color: $colorDefault;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  h1 {
    font-family: $fontDancingScript;
    margin-left: $size;
    font-size: $size * 5;
  }

  a {
    color: $colorDefault;
    text-decoration: none;
  }

  .active {
    color: $colorActive
  }

  nav {
    display: flex;

    .contact {
      font-size: $size * 2;
      border-left: 1px solid darken($colorBg, 10%);
      padding: 36px;
    }

    .about {
      font-size: $size * 2;
      border-left: 1px solid darken($colorBg, 10%);
      padding: 36px;
    }

    .wrapCart {
      font-size: $size * 2;
      padding: 32px;
      margin-right: $size;
      border-left: 1px solid darken($colorBg, 10%);
      border-right: 1px solid darken($colorBg, 10%);

      &:hover {
        background-color: darken($colorBg, 10%);
        transition: 0.2s;
      }
    }
  }
}

.containerMain {
  display: flex;

  .nav {
    width: $widthNav;
    background-color: lightgray;
    min-height: calc(100vh - $heightHeader - $heightFooter);

    a {
      color: $colorBg;
      font-weight: bold;
      text-decoration: none;

      & p {
        margin-top: $size;
        margin-left: $size;
        font-size: $size * 2;
      }
    }

    .active {
      color: $colorActive;
    }
  }

  .main {
    width: calc(100% - $widthNav);
    background-color: $colorBg3;
    min-height: calc(100vh - $heightHeader);
  }
}

.footer {
  height: $heightFooter;
  background-color: $colorBg;
  color: $colorDefault;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer__mobile {
    display: none;
  }
}

@media (max-width: 730px) {
  .header {
    h1 {
      font-size: $size * 4;
    }

    nav {
      .contact {
        padding: 36px 18px;
      }

      .about {
        padding: 36px 25px;;
      }

      .wrapCart {
        padding: 32px 18px;;

        &:hover {
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: calc($heightHeader / 2);
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;

    h1 {
      font-size: $size * 3;
    }

    nav {

      .contact {
        font-size: $size * 1.8;
        border-left: none;
        padding: 10px;
      }

      .about {
        display: none;
      }

      .wrapCart {
        display: none;
      }
    }
  }

  .containerMain {
    text-align: center;
    margin-top: calc($heightHeader / 2);
    padding-bottom: calc($heightHeader / 2);

    .navMobileOpen {
      position: fixed;
      left: 0;
      top: calc($heightHeader / 2);
      height: calc(100vh - $heightHeader);
      min-width: 60%;
      background-color: #969696;
      z-index: 1;
      border-radius: 0 25px 25px 0;
      animation: fadein 0.5s forwards;

      @keyframes fadein {
        0% {
          opacity: 0;
          width: 0;
          left: calc(60% * (-1));
        }
        100% {
          opacity: 1;
          min-width: 60%;
          left: 0;
        }
      }
    }

    .navMobileClose {
      position: fixed;
      left: 0;
      top: calc($heightHeader / 2);
      height: calc(100vh - $heightHeader);
      min-width: 60%;
      background-color: #969696;
      z-index: 1;
      border-radius: 0 25px 25px 0;
      animation: fadeout 0.5s forwards;

      @keyframes fadeout {
        0% {
          opacity: 1;
          min-width: 60%;
          left: 0;
        }
        100% {
          opacity: 0;
          width: 0;
          left: calc(60% * (-1));
          display: none;
        }
      }
    }

    .main {
      width: 100%;
    }
  }

  .footer {
    height: calc($heightFooter / 2);
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #747474;

    .footer__desktop {
      display: none;
    }

    .footer__mobile {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}